# 6-3

In [7]:
for i in range(10):
    print(i+1, end = ' ')

1 2 3 4 5 6 7 8 9 10

# 6-6

In [12]:
start = int(input("開始数"))
end = int(input("終了数"))

for i in range(start,end-1):
    start += i + 1
print('合計：' + str(start))

開始数30
終了数100
合計：4515

# 6-8

In [88]:
for i in reversed(range(1,10)):
  print(i, "の段", sep="")
  for j in reversed(range(1,10)):
    print(i, "×", j, "=", i * j)

9の段
9 × 9 = 81
9 × 8 = 72
9 × 7 = 63
9 × 6 = 54
9 × 5 = 45
9 × 4 = 36
9 × 3 = 27
9 × 2 = 18
9 × 1 = 9
8の段
8 × 9 = 72
8 × 8 = 64
8 × 7 = 56
8 × 6 = 48
8 × 5 = 40
8 × 4 = 32
8 × 3 = 24
8 × 2 = 16
8 × 1 = 8
7の段
7 × 9 = 63
7 × 8 = 56
7 × 7 = 49
7 × 6 = 42
7 × 5 = 35
7 × 4 = 28
7 × 3 = 21
7 × 2 = 14
7 × 1 = 7
6の段
6 × 9 = 54
6 × 8 = 48
6 × 7 = 42
6 × 6 = 36
6 × 5 = 30
6 × 4 = 24
6 × 3 = 18
6 × 2 = 12
6 × 1 = 6
5の段
5 × 9 = 45
5 × 8 = 40
5 × 7 = 35
5 × 6 = 30
5 × 5 = 25
5 × 4 = 20
5 × 3 = 15
5 × 2 = 10
5 × 1 = 5
4の段
4 × 9 = 36
4 × 8 = 32
4 × 7 = 28
4 × 6 = 24
4 × 5 = 20
4 × 4 = 16
4 × 3 = 12
4 × 2 = 8
4 × 1 = 4
3の段
3 × 9 = 27
3 × 8 = 24
3 × 7 = 21
3 × 6 = 18
3 × 5 = 15
3 × 4 = 12
3 × 3 = 9
3 × 2 = 6
3 × 1 = 3
2の段
2 × 9 = 18
2 × 8 = 16
2 × 7 = 14
2 × 6 = 12
2 × 5 = 10
2 × 4 = 8
2 × 3 = 6
2 × 2 = 4
2 × 1 = 2
1の段
1 × 9 = 9
1 × 8 = 8
1 × 7 = 7
1 × 6 = 6
1 × 5 = 5
1 × 4 = 4
1 × 3 = 3
1 × 2 = 2
1 × 1 = 1

# 6-9

In [ ]:
for i in reversed(range(1,10)):
  if i % 2 == 1:
    print(i, "の段", sep="")
  for j in reversed(range(1,10)):
    if i % 2 == 1:
      print(i, "×", j, "=", i * j)

# 6-10

In [24]:
print('直角三角形を描画します')
print('2～20までの整数値を入力してください')
length = int(input('底辺の長さを入力：'))

count = 1

if length > 1 and length < 21:
  for i in range(length):
    print('*' * count)
    count += 1

直角三角形を描画します
2～20までの整数値を入力してください
底辺の長さを入力：5
*
**
***
****
*****

# 6-14

In [39]:
num = int(input('入力値：'))
if num <= 1:
    print(False)
else:
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      print(str(num) + 'は素数ではありません')
      break
    else:
      print(str(num) + 'は素数です')
      break

入力値：6
6は素数ではありません

# 7-1

In [40]:
m = 0
n = 1
while n <= 100:
    m = m + n
    n = n + 1
print(m)

5050

# 7-4

In [41]:
n = 1
m = 0

while m <= 100000:
    m = n + n
    n = n + 1
print(n-1)

50001

# 7-8

In [89]:
a = 0
b = 1
while a < 1000:
  print(a, end=',')
  a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

# 8-14

In [72]:
dic = {'野菜':'季節', 'キャベツ':'春', 'スイカ':'夏', 'ナス':'秋', 'ハクサイ':'冬'}

for key, value in dic.items():
  print(key + ':' + value)

野菜:季節
キャベツ:春
スイカ:夏
ナス:秋
ハクサイ:冬

# 8-18

In [87]:
def stock(dic):
  sum = 0
  for key, value in dic.items():
    print('{}:{}個'.format(key, value))
    sum += value
  print('平均:{:.0f}個'.format(sum/3))

dic = {'商品A':500, '商品B':2030, '商品C':1980}
print('＜現在の在庫＞')
stock(dic)

dic['商品A'] = 450
dic['商品B'] = 1580
dic['商品C'] = 1520

print('＜販売数反映後の在庫＞')
stock(dic)

＜現在の在庫＞
商品A:500個
商品B:2030個
商品C:1980個
平均:1503個
＜販売数反映後の在庫＞
商品A:450個
商品B:1580個
商品C:1520個
平均:1183個

# 9-1

In [90]:
def myprofile(school, name):
  print('学校名：' + school)
  print('名前：' + name)

myprofile('東京情報クリエイター工学院専門学校', '黒崎輝')

学校名：東京情報クリエイター工学院専門学校
名前：黒崎輝

# 9-2

In [96]:
def hello():
  print('Hello\n' * 10)

hello()

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

# 9-3

In [105]:
def greeting(str_gree, num):
  print(str_gree * num, end= '')

greeting('Hello\n', 3)
greeting('Good morning\n', 4)
greeting('Good evening\n', 2)

Hello
Hello
Hello
Good morning
Good morning
Good morning
Good morning
Good evening
Good evening

# 9-9

In [128]:
import math

def Circumference(num):
  print('半径{}の円の円周は{:.2f}'.format(num, num * 2 * math.pi))

def area(num):
  print('半径{}の円の面積は{:.2f}'.format(num, num * num * math.pi))

radius = float(input('半径を入力してください'))
Circumference(radius)
area(radius)

半径を入力してください4.7
半径4.7の円の円周は29.53
半径4.7の円の面積は69.40